body {
	font-family: 'Merriweather', serif;
}

#headerWrapper {
	background-color:#701313;
	height:70px;
	width:100%;
	display: grid;
	grid-template-columns: 20% auto;

}

#navbar {
	margin:15px;
	padding:20px auto;
}

#navLink {
	float:right;
	padding:10px;
}

#navLink a {
	font-size:12px;
	text-decoration:none;
	color:#fff;
}

#navLink a:hover {
	color:#707070;
}

.btn-light {
	padding:10px 30px 10px 30px;
	border:2px solid #fff;
	border-radius:10px;
	margin-left:20px;
}

.btn-light:hover {
	background-color:#fff;	
}

.logo-small {
	margin-left:70px;
	padding:10px;
}
